.dropDown button {
    width: 100% !important;
}

#dropdown-basic-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu {
    background: #ffffff;
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
}

.dropdown-item .active {
    background: #798eea;
}